body{
    background-color: rgb(252, 241, 228)
}

#barra_busqueda ul{
    list-style-type: none;
    text-align: center;
 } 

#barra_busqueda li{
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;  
} 

#flex { display: flex; justify-content: space-around;}

#cronometro {
    font-family: monospace;
    font-size: 2em;
    padding-top: 1em;
    text-align: center;
}
