body{
    background-image: url("https://cdn.wallpaperhub.app/cloudcache/0/b/d/3/1/6/0bd31699b92314a31aa63bc3cad928e09c3e2ff4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

#barra_busqueda ul{
    list-style-type: none;
    text-align: center;
 } 

#barra_busqueda li{
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
    
} 